@charset "UTF-8";
body {
  font-family: "homenaje", sans-serif;
}

.header {
  height: 650px;
  width: 100%;
  background-image: url("../images/chips-circuit-board-computer.png");
  background-position: bottom;
  background-size: cover;
}

.header::after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  opacity: 0.9;
  width: 100%;
  height: 650px;
  background-image: -webkit-linear-gradient(129deg, #ffae12 0%, #33a115 60%, #0f171e 100%);
  background-image: -o-linear-gradient(129deg, #ffae12 0%, #33a115 60%, #0f171e 100%);
  background-image: linear-gradient(-39deg, #ffae12 0%, #33a115 60%, #0f171e 100%);
}

.header__background {
  position: relative;
  z-index: 1;
}

.header__background::after {
  content: "";
  position: absolute;
  opacity: 0.3;
  top: 0;
  width: 100%;
  height: 650px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAPUlEQVQoU2NkQAX/GRgYGJGEniFzMCQZGBikYAqwSoJMAinAKQlTgOyKZyBjcbkBQxLZDVglYVbglAQpAAAITA/VgCXC3AAAAABJRU5ErkJggg==") repeat;
}

.header__content {
  margin: 0 auto;
  width: 1010px;
  position: relative;
  z-index: 3;
}

.header__slogan {
  padding-top: 245px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 58px;
  letter-spacing: -1px;
  line-height: 61px;
}

.slogan__second-line {
  display: block;
  color: #333;
}

.cookie-bar {
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 104px;
}

.cookie-bar::after {
  content: "";
  position: fixed;
  bottom: 0;
  z-index: 11;
  opacity: 0.9;
  width: 100%;
  height: 104px;
  background-color: #222;
  color: #fff;
}

.cookie-bar__content {
  margin: 0 auto;
  width: 1010px;
  position: relative;
  z-index: 12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  padding: 0 30px;
  color: #fff;
  font-family: "Mada";
  font-size: 14px;
  line-height: 19px;
}

.cookie-bar__img {
  margin-left: 13px;
}

.cookie-bar__text {
  margin: 0 105px 0 45px;
}

.cookie-bar__link {
  color: #62c016;
}

.cookie-bar__button {
  width: 130px;
  height: 23px;
  border: 1px solid #62c016;
  border-radius: 3px;
  background-color: #62c016;
}

.button__text {
  color: white;
  font-size: 14px;
  font-family: "Mada";
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 19px;
  text-transform: uppercase;
}

.nav {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  font-family: "Mada";
  text-decoration: none;
}

.nav__content {
  width: 950px;
  margin: 0 auto;
}

.nav__images {
  position: relative;
  bottom: 142px;
  display: inline-block;
  width: 98px;
  text-align: center;
}

.nav__images.scroll {
  bottom: 57px;
}

.nav__list {
  position: fixed;
  top: 20px;
  display: inline-block;
  margin-left: 165px;
}

.nav__item {
  display: inline-block;
  height: 54px;
  width: 145px;
  border-right: 1px solid #fff;
  text-align: center;
  line-height: 54px;
}

.nav__itemlink {
  display: block;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__item_last {
  border: none;
}

.images__menu {
  position: relative;
  top: 75px;
  width: 35px;
  margin: 0 auto;
}

.images__menu-icon {
  color: #fff;
  font-size: 40px;
}

.images__menu-text {
  color: #fff;
  font-family: "Mada";
  text-transform: uppercase;
  line-height: 16px;
  font-size: 12px;
  letter-spacing: 0px;
}

.images__rectangle {
  width: 96px;
  height: 95px;
  background-color: #61bf17;
}

.images__rectangle-background {
  width: 950px;
}

.images__rectangle-background.scroll {
  background-color: #333;
}

.images__images.scroll {
  bottom: 0;
}

.images__logo {
  position: relative;
  top: 15px;
  width: 66px;
}

.mission {
  height: 550px;
}

.mission__content {
  margin: 0 auto;
  width: 1010px;
  margin-top: 85px;
}

.mission__title {
  margin-bottom: 40px;
  text-align: center;
  color: #2d2d2d;
  font-family: "Homenaje";
  font-size: 50px;
  line-height: 56px;
  letter-spacing: -1px;
}

.mission__text::before {
  content: "„";
  position: relative;
  bottom: 3px;
  right: 34px;
  display: block;
  color: #2d2d2d;
  font-size: 61px;
  line-height: 8px;
  letter-spacing: -2px;
}

.mission__text {
  margin: 0 130px;
  color: #3c3c3c;
  font-family: "Mada";
  font-size: 22px;
  line-height: 40px;
  letter-spacing: -1px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 90px;
  background-color: #242424;
}

.footer__content {
  margin: 0 auto;
  width: 1010px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 30px;
  color: #8f8f8f;
  font-size: 12px;
  font-family: "Mada";
  line-height: 20px;
}

.contact {
  font-family: "Mada";
}

.contact__content {
  margin: 0 auto;
  width: 1010px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 85px;
  margin-bottom: 90px;
}

.contact__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-left: 30px;
  font-family: "Homenaje";
}

.contact__description, .contact__form {
  margin: 0 130px;
  color: #373737;
  letter-spacing: -1px;
}

.contact__description {
  margin-bottom: 55px;
  font-size: 22px;
  line-height: 30px;
}

.contact__description_bold {
  font-weight: bold;
}

.contact__form {
  font-size: 30px;
  line-height: 42px;
}

.header__title {
  font-size: 50px;
}

.header__button {
  padding: 0 18px;
  border: none;
  border-radius: 3px;
  height: 42px;
  background-color: #61bf17;
  color: #fff;
  font-size: 22px;
  line-height: 42px;
  letter-spacing: -1px;
}

.header__button::after {
  content: "↑";
  position: relative;
  bottom: 3px;
  padding-left: 20px;
  font-size: 16px;
}

.form__text-input {
  position: relative;
  bottom: 3px;
  border: none;
  border-bottom: 1px solid #373737;
  width: 220px;
}

.form__text-input:focus {
  outline-width: 0;
}

.form__text-input_short {
  width: 174px;
}

.form__text-input::-webkit-input-placeholder {
  position: relative;
  bottom: 3px;
  padding-left: 10px;
  font-size: 14px;
}

.form__text-input:-ms-input-placeholder {
  position: relative;
  bottom: 3px;
  padding-left: 10px;
  font-size: 14px;
}

.form__text-input::-ms-input-placeholder {
  position: relative;
  bottom: 3px;
  padding-left: 10px;
  font-size: 14px;
}

.form__text-input::placeholder {
  position: relative;
  bottom: 3px;
  padding-left: 10px;
  font-size: 14px;
}

.form__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  margin-top: 30px;
  background-color: #ffffff;
  border: 1px solid #d5d5d5;
}

.form__label {
  vertical-align: text-bottom;
  font-size: 16px;
  letter-spacing: 0px;
}

.form__submit {
  display: block;
  margin: 55px auto 0;
  height: 42px;
  padding: 0 10px;
  border: none;
  border-radius: 3px;
  background-color: #61bf17;
  color: #fff;
  font-family: "Homenaje";
  font-size: 22px;
  letter-spacing: -1px;
}

.form__submit::after {
  content: "→";
  padding-left: 43px;
}

.address {
  background-color: #f1f1f1;
  background-image: url("../images/map.png");
  background-repeat: no-repeat;
  background-position-x: 244px;
  background-position-y: -257px;
}

.address__inner {
  padding: 160px 0 120px 210px;
  color: #2d2d2d;
  font-family: "Mada";
  font-size: 22px;
}

.address__compass-icon, .address__content {
  display: inline-block;
}

.address__content {
  width: 260px;
}

.address__compass-icon {
  vertical-align: top;
  margin: 0 20px 0 30px;
}

.address__company-name {
  font-weight: bold;
  margin-bottom: 40px;
}

.address__text {
  margin-bottom: 35px;
}

.products__content {
  margin: 0 auto;
  width: 1010px;
  text-align: center;
}

.products__title {
  padding-top: 100px;
  color: #2d2d2d;
  font-size: 50px;
  letter-spacing: -1px;
}

.products__subtitle {
  padding: 35px 0 60px;
  color: #494949;
  font-size: 22px;
  font-family: "Mada";
  letter-spacing: -1px;
}

.products__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 780px;
  margin: 0 auto;
}

.items__item {
  width: 195px;
  height: 215px;
}

.items__item:nth-child(n+9):hover .items__item-inner {
  position: relative;
  bottom: 186px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  padding-top: 0;
}

.items__item:nth-child(n+9):hover .items__img {
  padding-bottom: 100px;
}

.items__item-inner {
  position: relative;
  z-index: 5;
  height: 375px;
}

.items__item-inner .items__description {
  display: none;
}

.items__item-inner:hover {
  position: relative;
  bottom: 50px;
  z-index: 6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 50px;
  background-color: #62c016;
  color: #fff;
}

.items__item-inner:hover .items__img {
  filter: invert(100%);
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  -o-filter: invert(100%);
  -ms-filter: invert(100%);
}

.items__item-inner:hover .items__description {
  position: relative;
  top: 50px;
  display: block;
  padding: 15px;
  text-align: left;
}

.items__img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 139px;
  height: 139px;
  margin: 0 auto;
}

.items__img {
  display: block;
  margin: 0 auto;
}
