.address {
    background-color: #f1f1f1;
    background-image: url("../images/map.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: -257px;
    &__inner {
        width: $content-width;
        margin: 0 auto;
        padding: 160px 0 120px;
    }
    &__wrapper{
        width: fit-content;
        color: #2d2d2d;
        font-family: "Mada";
        font-size: 22px;
    }
    &__compass-icon, &__content{
        display: inline-block;
    }
    &__content{
        width: 260px;
    }

    &__compass-icon{
        vertical-align: top;
        margin: 0 20px 0 30px; 
    }
    &__company-name {
        font-weight: bold;
        margin-bottom: 40px
    }
    &__text {
        margin-bottom: 35px;
    }
}