.address {
    background-color: #f1f1f1;
    background-image: url("../images/map.png");
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: -257px;
    &__inner {
        width: $content-width;
        margin: 0 auto;
        padding: 160px 0 120px;
    }
    &__wrapper {
        width: fit-content;
        color: #2d2d2d;
        font-family: "Mada";
        font-size: $description-font-size-desktop-large;
    }
    &__compass-icon,
    &__content {
        display: inline-block;
    }
    &__content {
        width: 260px;
    }
    &__compass-icon {
        vertical-align: top;
        margin: 0 20px 0 30px;
    }
    &__company-name {
        font-weight: bold;
        margin-bottom: 40px
    }
    &__text {
        margin-bottom: 35px;
    }
}

@media (max-width: $breakpoint-desktop) {
    .address {
        background-position-x: calc(100% + 265px);
        &__inner {
            width: $desktop-content-width;
        }
    }
}

@media (max-width: $breakpoint-tablet) {
    .address {
        background-image: none;
        &__inner {
            width: fit-content;
            padding: 50px;
        }
    }
}

@media (max-width: $breakpoint-mobile) {
    .address {
        &__inner {
            padding: 30px;
        }
        &__wrapper {
            display: flex;
            flex-direction: row-reverse;
            font-size: $description-font-size-mobile;
        }
        &__compass-icon {
            height: 34px;
        }
        &__content {
            width: auto;
        }
        &__company-name {
            margin-bottom: 20px;
        }
        &__text {
            margin-bottom: 15px;
        }
    }
}