.contact {
    font-family: "Mada";
    &__content {
        @include content-position;
        box-sizing: border-box;
        margin-top: 85px;
        margin-bottom: 90px;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
        padding-left: 30px;
        font-family: "Homenaje";
    }
    &__description,
    &__form {
        margin: 0 130px;
        color: #373737;
        letter-spacing: -1px;
    }
    &__description {
        margin-bottom: 55px;
        font-size: 22px;
        line-height: 30px;
        &_bold {
            font-weight: bold;
        }
    }
    &__form {
        font-size: 30px;
        line-height: 42px;
    }
}

.header {
    &__title {
        font-size: 50px;
    }
    &__button {
        padding: 0 18px;
        border: none;
        border-radius: 3px;
        height: 42px;
        background-color: #61bf17;
        color: #fff;
        font-size: 22px;
        line-height: 42px;
        letter-spacing: -1px;
    }
    &__button::after {
        content: "↑";
        position: relative;
        bottom: 3px;
        padding-left: 20px;
        font-size: 16px;
    }
}

.form {
    &__text-input {
        position: relative;
        bottom: 3px;
        border: none;
        border-bottom: 1px solid #373737;
        width: 220px;
    }
    &__text-input:focus {
        outline-width: 0;
    }
    &__text-input_short {
        width: 174px;
    }
    &__text-input::placeholder {
        position: relative;
        bottom: 3px;
        padding-left: 10px;
        font-size: 14px;
    }
    &__checkbox {
        appearance: none;
        width: 22px;
        height: 22px;
        margin-top: 30px;
        background-color: #ffffff;
        border: 1px solid #d5d5d5;
    }
    &__label {
        vertical-align: text-bottom;
        font-size: 16px;
        letter-spacing: 0px;
    }
    &__submit {
        display: block;
        margin: 55px auto 0;
        height: 42px;
        padding: 0 10px;
        border: none;
        border-radius: 3px;
        background-color: #61bf17;
        color: #fff;
        font-family: "Homenaje";
        font-size: 22px;
        letter-spacing: -1px;
    }
    &__submit::after {
        content: "→";
        padding-left: 43px;
    }
}